<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>National Parks</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <!-- <script src="{{url_for('static', filename ='app.js')}}"></script> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src ="../static/app.js"></script>


</head>

<body>

    <select id="selDataset" onchange="getData(this.value)">
        {% for key in parks %}
        <option value="{{key}}">{{key}}</option>
        {% endfor %}
    </select>

    <div class="row">
        <div class="col-md-12">
            <h2>Top 10 National Park Visitors per Year (2009-2018)</h2>
            <div id="plot"></div>
        </div>
    </div>

    
</body>

</html>